.container {
  margin: 30px auto;
  background-color: white;
  height: 80vh;
  width: 75%;
  border-radius: 15px;
  box-shadow: 0px 8px 45px -20px rgba(31, 31, 31, 0.15);
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 5% 75% auto;
  grid-template-rows: auto auto;
  padding: 10px;
}

.navigator {
  border-radius: 10px;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 45px;
  right: 165px;
  background-color: lightgrey;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-family: Roboto;
  /* font-size: 30px; */
  text-align: center;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  /* background-color: black; */
}

.sidebar {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: green;
}

.item-c {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-current {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background: pink;
}
