.abouts-enter {
  opacity: 0;
  transform: translateX(-1em);
}
.abouts-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1900ms, transform 1900ms;
}
.abouts-exit {
  opacity: 1;
}
.abouts-exit-active {
  opacity: 0;
  transform: translateX(1em);
  transition: opacity 300ms, transform 300ms;
}

.abouts2-enter {
  opacity: 0;
  transform: translateY(0.7em);
}
.abouts2-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1300ms, transform 1300ms;
}
.abouts2-exit {
  opacity: 1;
}
.abouts2-exit-active {
  opacity: 0;
  transform: translateY(-0.7em);
  transition: opacity 300ms, transform 300ms;
}

.abouts3-enter {
  opacity: 0;
  transform: translateY(-0.7em);
}
.abouts3-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1300ms, transform 1300ms;
}
.abouts3-exit {
  opacity: 1;
}
.abouts3-exit-active {
  opacity: 0;
  transform: translateY(0.7em);
  transition: opacity 300ms, transform 300ms;
}
