.content {
  height: 450px;
  width: 530px;
  border-radius: 15px;
  /* border: solid 1px lightgrey; */
}

.project-enter {
  opacity: 0;
  /* transform: translate(0.3em, 0.3em); */
}
.project-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 4300ms, transform 4300ms;
}

.title-enter {
  opacity: 0;
  transform: translate(3.3em, 3.3em);
}
.title-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 300ms, transform 300ms;
}

.tile {
  height: 100%;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile-striped {
  background: repeating-linear-gradient(
    45deg,
    purple,
    violet 10px,
    purple 10px,
    violet 20px
  );
}
.tile:nth-child(odd) {
  background-color: purple;
}
.tile:nth-child(even) {
  background-color: violet;
}

.alert-enter {
  opacity: 0;
  transform: translateY(1em);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1300ms, transform 1300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 300ms, transform 300ms;
}

.abouts-enter {
  opacity: 0;
  transform: translateY(-1em);
}
.abouts-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1300ms, transform 1300ms;
}
.abouts-exit {
  opacity: 1;
}
.abouts-exit-active {
  opacity: 0;
  transform: translateY(1em);
  transition: opacity 300ms, transform 300ms;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
  cursor: default;
  -webkit-user-select: none;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.font-anime {
  font-family: "Recursive", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
}

.standard-enter {
  opacity: 0;
  transform: translateY(1.9em);
}
.standard-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1300ms, transform 1300ms;
}
.standard-exit {
  opacity: 1;
}
.standard-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.ml12 {
  /* font-weight: 200; */
  /* font-size: 1.8em; */
  /* text-transform: uppercase;  */
  /* letter-spacing: 0.5em; */
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
