.header {
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  height: 70px;
  width: 530px;
  border-radius: 5px;
  /* border: solid 1px lightgrey; */
  margin-bottom: 20px;
}

.header span {
  color: #5c5c5c;
  font-size: 30px;
  text-transform: uppercase;
}

.blink {
  animation: blinker 0.7s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

span {
  cursor: pointer;
}

i {
  cursor: pointer;
}
