.container-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 7px;
  height: 200px;
  width: 90%;
  padding-right: 10px;
  margin-right: -90px;
  /* box-shadow: 0px 8px 45px 0 rgba(31, 31, 31, 0.1); */
  /* border: 1px solid lightgrey; */
}

.card {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(124, 124, 124, 0);
  transition: 0.2s ease-out;
  width: 135px;
  height: 225px;
  border-radius: 5px;
  align-items: center;
  font-family: "Recursive", sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 90px;
  /* color: rgba(50, 50, 50, 0.678); */
  /* font-family: Roboto; */
  /* box-shadow: 0px 8px 45px 0 rgba(31, 31, 31, 0.1); */
}

.card span {
  margin-right: 17px;
  color: #5c5c5c;
  -webkit-user-select: none;
  cursor: pointer;
}

.card:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.selected-card {
  background-color: #eeeeee;
  cursor: pointer;
}

.selected-card span {
  margin-right: 46px;
}

.card-text {
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.moving-left {
  transition: all 0.5s ease-in-out;
  transform: translate(-1.2em, 0);
}
