.container-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 7px;
  height: 170px;
  width: 90%;
  padding-right: 10px;
  margin-right: -90px;
  /* box-shadow: 0px 8px 45px 0 rgba(31, 31, 31, 0.1); */
  /* border: 1px solid lightgrey; */
}

.card {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(124, 124, 124, 0);
  transition: 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  width: 120px;
  height: 45px;
  border-radius: 5px;
  align-items: center;
  /* font-family: "Fira Sans Condensed", sans-serif; */
  font-family: "Recursive", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 13px;
  /* margin-top: 2px; */
  /* margin-bottom: 2px; */
  margin-left: 90px;
  /* color: rgba(50, 50, 50, 0.678); */
  /* font-family: Roboto; */
  /* box-shadow: 0px 8px 45px 0 rgba(31, 31, 31, 0.1); */
}

.card span {
  margin-right: 14px;
  color: #5c5c5c;
  -webkit-user-select: none;
  cursor: pointer;
}

.card:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.selected-card {
  background-color: #eeeeee;
  cursor: pointer;
}

.selected-card span {
  margin-right: 33px;
}

.card-text {
  position: absolute;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.moving-left {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transform: translate(-1em, 0);
  -webkit-transform: translate(-1.2em, 0);
  -moz-transform: translate(-1.2em, 0);
  -o-transform: translate(-1.2em, 0);
  -ms-transform: translate(-1.2em, 0);
}

.first-enter {
  opacity: 0;
  transform: translateY(-1.2em);
}
.first-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}
.first-exit {
  opacity: 1;
}
.first-exit-active {
  opacity: 0;
  transform: translateY(1.2em);
  transition: opacity 300ms, transform 300ms;
}

.blink {
  animation: blinker 0.7s step-start infinite;
}
