.container-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 7px;
  height: 200px;
  width: 100%;
  /* border: 1px solid lightgrey; */
  padding-right: 20px;
}

.card {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(124, 124, 124, 0);
  transition: 0.2s ease-out;
  width: 140px;
  /* width: 60%; */
  height: 225px;
  border-radius: 5px;
  align-items: center;
  /* font-family: Roboto; */
  font-family: Roboto, monospace;
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  /* box-shadow: 0px 8px 45px 0 rgba(31, 31, 31, 0.1); */
}

.card span {
  margin-right: 17px;
  color: #5c5c5c;
  -webkit-user-select: none;
}

.card:hover {
  background-color: #eeeeee;
  cursor: pointer;
  font-weight: 300;
}

.selected-card {
  background-color: #eeeeee;
  cursor: pointer;
  /* font-weight: 400; */
}

.selected-card span {
  margin-right: 37px;
}

.card-text {
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.moving-left {
  transition: all 0.5s ease-in-out;
  transform: translate(-1.2em, 0);
}
