.canvas {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 50px auto;
  background-color: white;
  height: 80vh;
  width: 75%;
  border-radius: 15px;
  box-shadow: 0px 8px 40px -20px rgba(31, 31, 31, 0.15);
  align-items: center;
}

.content {
  border-radius: 15px;
  display: inline-flex;
  position: relative;

  width: 75%;
  height: 95%;
  margin-right: 120px;
  margin-bottom: 10px;
  background-color: #fafafa;
}
